<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
 <p>Hi <%= @user.firstname %>,</p> 
 
<h5>Welcome to <%=@gym_name%></h5>
<p>
  You have successfully signed up to <%=@gym_name%><br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %> to create a new password.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
