<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/admin" class="app-brand-link">
              <%= image_tag "small.png"%>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none" >
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1" id = "myDIV">
          	
            <!-- Dashboard -->
            <li class="menu-item active">
              <a href="/admin" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>
            <%if @admin.gyms.present?%>
             <li class="menu-item">
              <a href="/checkins/new" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-pin"></i>
                <div data-i18n="Boxicons">Checkin Members</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="/members/new" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-plus"></i>
                <div data-i18n="Boxicons">Register a Member</div>
              </a>
            </li>

              <li class="menu-item">
              <a href="/checkins/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-group"></i>
                <div data-i18n="Boxicons">Attendance</div>
              </a>
            </li>

             <li class="menu-item">
              <a href="/static_pages/settings" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div data-i18n="Boxicons">Settings</div>
              </a>
            </li>
            <%end%>
            <li class="menu-item">
              <a class="menu-link">
                <%=button_to 'Sign Out', destroy_admin_session_path, :method => :delete, class: "btn btn-primary"%>
              </a>
              
            </li>
           
          </ul>
        </aside>